.main-container {
	width: 576px
}

.title {
	margin-bottom: 0;
	color: gray;
}

.box {
  display: flex;
  align-items: center;
  justify-content: left;
}

.box div {
  width: 100px;
  height: 100px;
}

.space-up {
	margin-top: 1em;
}

.onthefly-output {
	font-family: "Courier New";
	font-size: 18px;
}

.output-footer {
	padding: 0 0 0 0;
}